node_modules/
package.json
package-lock.json 


# Python
backend/venv/
backend/__pycache__/
backend/.env
*.pyc

# Node
dsa-platform-web/node_modules/
dsa-platform-web/dist/
dsa-platform-web/.env
dsa-platform-web/.env.local